<div *ngIf="product.title" class="card">
  <img class="card-img-top" src="{{product.photoUrl || '../../assets/NoImage.png'}}" alt="{{product.title}}">
  <div class="card-body">
    <h5 class="card-title">{{product.title}}</h5>
    <p class="card-text" *ngIf="product.price >= 0">{{product.price | currency:'USD' }}</p>    
  </div>
  <div class="card-footer" *ngIf="showAddToCart" >
      <button 
        *ngIf="qty === 0; else updateQuantity"
        class="btn btn-info btn-block"
        (click)="addToCart(product)">Add to cart</button>
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <div class="col-2">
            <button (click)="setQuantity(product, 'minus')" class="btn btn-info btn-block">-</button>
          </div>
          <div class="col text-center">
            {{qty}} in cart
          </div>
          <div class="col-2">
            <button (click)="setQuantity(product, 'plus')" class="btn btn-info btn-block">+</button>
          </div>
        </div>
      </ng-template>      
  </div>
</div>

